@use "variables" as *;

header {
  display: flex;
  flex-direction: column;
  gap: $space-10;
  background-color: $gray-90;
  color: $gray-50;
  font-family: $font-stack-mono;
  margin-top: $space-10;

  .header-wrapper {
    position: relative;
    display: flex;

    @include breakpoint(large) {
      flex-direction: column;
      gap: $space-8;
    }

    @include breakpoint(large) {
      gap: $space-10;
    }
  }

  .header-content {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include breakpoint(medium-step) {
      flex-direction: column;
      gap: $space-10;
    }
  }

  .header-text {
    display: flex;
    flex-direction: column;
    gap: $space-3;
  }

  .name {
    width: fit-content;
    @extend .ibm-plex-mono-bold;
    color: $yellow-60;
    text-decoration: none;
    cursor: pointer;
    background-size: 100% 2px;
    background-image: none;

    &:hover {
      background-image: linear-gradient(
        90deg,
        $yellow-60 0%,
        $yellow-60 50%,
        $yellow-60 100%
      );
    }
  }

  li {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    a {
      display: block;
      color: $gray-50;
      cursor: pointer;
      background-size: 100% 2px;
      background-image: none;

      &:hover {
        color: $yellow-60;
        background-image: linear-gradient(
          90deg,
          $yellow-60 0%,
          $yellow-60 50%,
          $yellow-60 100%
        );
      }
    }

    span {
      display: block;
      color: $gray-10;
    }
  }

  nav {
    ul {
      display: flex;
      gap: $space-7;
    }
  }
}
