/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

table {
	@include font-size(1.4);

	tr:nth-child(even) { background-color: $white; }
	tr:nth-child(odd) { background-color: $tan; }
	th {
    color: $off-black;
    background-color: darken($tan, 5);
  }
  td { white-space: nowrap; }
}

table { border-collapse: collapse; }

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th { font-weight: bold; }
table td,
table th {
	padding: 9px 10px;
	text-align: left;
}

/* Mobile */
// @media only screen and (max-width: 767px) {
@media only screen and (max-width: 20000px) {

	table.responsive { margin-bottom: 0; }

	.pinned {
		position: absolute;
		left: 0;
		top: 0;
		background: #fff;
		width: 25%;
		overflow: hidden;
		overflow-x: scroll;
		border-right: 2px solid darken($tan, 30);
		@include box-shadow(3px 0 4px -2px rgba($off-black, .15));
		// border-left: 1px solid #ccc;
	}
	.pinned table {
		border-right: none;
		border-left: none;
		width: 100%;
	}
	.pinned table th,
	.pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }

	div.table-wrapper {
		position: relative;
		margin-bottom: 20px;
		overflow: hidden;
		// border-right: 1px solid #ccc;
	}
	div.table-wrapper div.scrollable { margin-left: 25%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }

	table.responsive td { white-space: nowrap; }

	table.responsive td,
	table.responsive th {
		position: relative;
		overflow: hidden;
	}
	table.responsive th:first-child,
	table.responsive td:first-child,
	table.responsive td:first-child,
	table.responsive.pinned td { display: none; }
}
