<footer class="site-footer">
	<div class="container">
		<div class="column footer-column">
			<p>Copyright &copy; 2019 &ndash; Shaun Fox</p>

			<div class="connect">
				<a href="https://github.com/shaunrfox">
					<svg viewBox="0 0 30 30" class="ico-github">
						<use xlink:href="#ico-github"></use>
					</svg>
				</a>
				<a href="https://www.linkedin.com/in/shaunrfox">
					<svg viewBox="0 0 30 30" class="ico-linkedin">
						<use xlink:href="#ico-linkedin"></use>
					</svg>
				</a>
				<a href="http://dribbble.com/shaunrfox">
					<svg viewBox="0 0 30 30" class="ico-dribbble">
						<use xlink:href="#ico-dribbble"></use>
					</svg>
				</a>
				<a href="http://codepen.io/shaunrfox/">
					<svg viewBox="0 0 30 30" class="ico-codepen">
						<use xlink:href="#ico-codepen"></use>
					</svg>
				</a>
				<a href="mailto:shaunrfox@gmail.com?subject=Hi Shaun!">
					<svg viewBox="0 0 30 30" class="ico-at">
						<use xlink:href="#ico-at"></use>
					</svg>
				</a>
				<a class="foxButton">
					<svg viewBox="0 0 30 30" class="ico-fox">
						<use xlink:href="#ico-fox"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</footer>

<script src="/assets/js/jquery.flexslider-min.js"></script>
<script src="/assets/js/jquery.fitvids.js"></script>
<script src="/assets/js/jquery.fox-orize.3.0.js"></script>
<script src="/assets/js/sf.js"></script>