<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ page.title }}</title>
	<meta name="description" content="I'm a Senior Product Designer living in Austin, TX, with my beautiful wife and daughters. This is a portfolio of my work." />

	<meta name="keywords" content="Shaun Fox, Shaun, Sean, Shawn, Fox, Design, Austin, Designer, Portfolio, Web Design, Senior UX Designer, design technologist" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="index, follow">

	<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />

	<link href="/css/style.css" rel="stylesheet">

	<!-- jQuery -->
	<script src="/assets/js/jquery-2.0.3.min.js"></script>

	<!-- ============= BEGIN GOOGLE ANALYTICS ============= -->

	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-12932882-1");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>

	<!-- ============= END GOOGLE ANALYTICS ============= -->

	<script src="https://use.typekit.net/ydu8urf.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>