*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	@include source-sans();
	font-size: 62.5%;
	color: $off-black;
	width: 100%;
	height: 100%;
	display: block;
}

body {
	@include clearfix();
	@include font-size(1.6);
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: $white;
	border-top: 3px solid $off-white;
}

h1, h2, h3 {
	line-height: 1.2em;
	font-weight: normal;
	margin: 0 0 15px 0;
}

h1 {
	@include font-size(3);
	color: $off-black;
	font-weight: 700;
}
h2 {
	@include font-size(3);
	color: $off-black;
	font-weight: 700;
}
h3 { @include font-size(1.2); }

p {
	@include chaparral();
	font-weight: 400;
	@include font-size(2.4);
	line-height: 1.5em;
	margin: 0 0 1em 0;

	&.note {
		@include font-size(1.4);
		font-style: italic;
		color: $mid-grey;
	}
}

blockquote {
	@include chaparral();
	@include font-size(2.5);
	font-style: italic;
	margin-bottom: 25px;
}

a {
	color: $cyan;
	text-decoration: none;

	&:hover { border-bottom: 1px solid $cyan; }
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.rule, {
  width: 100%;
  float: left;
  height: 1px;
  display: block;
  margin: 20px 0;
}

hr {
	width: 100%;
	border: none;
	border-top: 1px solid $light-grey;
	margin: 30px 0;
}

.elFox { z-index: 400; }

::selection { background: tint($cyan, 30); }
