/*
 * * * * * * * * * * * * * * * * * * *
 * COLORS
 * * * * * * * * * * * * * * * * * * *
 */

$red: #ed1c24;
$orange: #ff6600;
$yellow: #ffcc00;
$forest-green: #666600;
$green: #51b848;
$teal: #006666;
$blue: #0090cb;
$cyan: #00ccff;
$dark-cyan: darken($cyan, 10%);
$midnight: #002B38;
$indigo: #2a1e5c;
$purple: #66439a;
$yellow-green: #efe80c;
$red-orange: #ff3600;

$dark-blue: #1a4f68;
$light-blue: #53aac3;

$black: #000;
$off-black: #111;
$dark-grey: #666;
$mid-grey: #aaa;
$light-grey: #ccc;
$off-white: #eee;
$white: #fff;

$tan: #F2F1E6;
$dark-tan: #C6C7C0;