/* Colors */

$red: #ed1c24;
$orange: #ff6600;
$yellow: #ffcc00;
$forest-green: #666600;
$green: #51b848;
$teal: #006666;
$blue: #0090cb;
$cyan: #00ccff;
$dark-cyan: darken($cyan, 10%); //#00a3cc
$midnight: #002B38;
$indigo: #2a1e5c;
$purple: #66439a;

$not-black: #111;
$dark-grey: #666;
$mid-grey: #aaa;
$light-grey: #eee;

$tan: #F2F1E6;
$dark-tan: #C6C7C0;

$yellow-green: #efe80c;
$red-orange: #ff3600;

// - - - - - -

$cool-white: #f2f3f5;

/* Color Mixins */

.background-red { 			background: $red !important; }
.background-orange { 		background: $orange !important; }
.background-yellow { 		background: $yellow !important; }
.background-forest-green { 	background: $forest-green !important; }
.background-green { 		background: $green !important; }
.background-teal { 			background: $teal !important; }
.background-blue { 			background: $blue !important; }
.background-cyan { 			background: $cyan !important; }
.background-dark-cyan { 			background: $dark-cyan !important; }
.background-midnight { 		background: $midnight !important; }
.background-indigo { 		background: $indigo !important; }
.background-purple { 		background: $purple !important; }
.background-not-black { 	background: $not-black !important; }
.background-dark-grey { 	background: $dark-grey !important; }
.background-mid-grey { 		background: $mid-grey !important; }
.background-light-grey { 	background: $light-grey !important; }
.background-tan { 			background: $tan !important; }
.background-dark-tan { 		background: $dark-tan !important; }
.background-yellow-green { 	background: $yellow-green !important; }
.background-red-orange { 	background: $red-orange !important; }
.background-cool-white { 	background: $cool-white !important; }

.text-red { 			color: $red !important; }
.text-orange { 			color: $orange !important; }
.text-yellow { 			color: $yellow !important; }
.text-forest-green { 	color: $forest-green !important; }
.text-green { 			color: $green !important; }
.text-teal { 			color: $teal !important; }
.text-blue { 			color: $blue !important; }
.text-cyan { 			color: $cyan !important; }
.text-midnight { 		color: $midnight !important; }
.text-indigo { 			color: $indigo !important; }
.text-purple { 			color: $purple !important; }
.text-not-black { 		color: $not-black !important; }
.text-dark-grey { 		color: $dark-grey !important; }
.text-mid-grey { 		color: $mid-grey !important; }
.text-light-grey { 		color: $light-grey !important; }
.text-tan { 			color: $tan !important; }
.text-dark-tan { 		color: $dark-tan !important; }
.text-white {			color: #fff !important; }