/*
 * * * * * * * * * * * * * * * * * * *
 * Dropdowns
 * * * * * * * * * * * * * * * * * * *
 */

$dropdown-button-height: 40px;

.dropdown {
  position: relative;
  width: auto;
  height: $dropdown-button-height;
  margin-left: 10px;

  .button {
    width: auto;
    height: $dropdown-button-height;
    padding-right: $dropdown-button-height + 10px;

    span {
      display: block;
      height: $dropdown-button-height;
      line-height: $dropdown-button-height + 4px;
      width: auto;
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: $dropdown-button-height;
      height: $dropdown-button-height;
    }
  }

  .dropdown-menu {
    display: none;
    z-index: 1000;
    min-width: 200px;
    position: absolute;
    top: $dropdown-button-height + 5px;
    left: 0;
    // right: 0;
    height: auto;
    background: $white;
    border: 1px solid darken($light-grey, 10);
    @include border-radius-all(4px);
    @include box-shadow(2px 2px 3px rgba($off-black, .2));

    // &:before,
    // &:after {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   width: 0;
    //   height: 0;
    // }

    // &:before {
    //   top: -12px;
    //   right: 8px;
    //   border-bottom: 12px solid darken($light-grey, 10);
    //   border-right: 12px solid transparent;
    //   border-left: 12px solid transparent;
    // }

    // &:after {
    //   top: -10px;
    //   right: 9px;
    //   border-bottom: 10px solid $white;
    //   border-right: 10px solid transparent;
    //   border-left: 10px solid transparent;
    // }

    li {
      display: block;
      float: left;
      width: 100%;
      height: 40px;
      padding: 0 10px;
      line-height: 42px;
      border-bottom: 1px solid $light-grey;

      &:last-child { border: none; }

      &:hover {
        cursor: pointer;
        background: $off-white;
      }

      &.active {
        background: lighten($light-blue, 30);
        // color: $white;

        &:hover {
          cursor: default;
          background: lighten($light-blue, 30);
        }
      }
    }
  }

  &.open {
    .dropdown-menu {
      display: block;
    }
  }
}