---
layout: default
---
<script src="/assets/js/fox-icons.js"></script>

<section class="project-wrapper">
	<div class="container project">
		<div class="column project-description">
			<div class="search">
				<svg viewBox="0 0 30 30" class="ico-search">
					<use xlink:href="#ico-search"></use>
				</svg>
				<input type="text" placeholder="Type to Filter" autofocus />
				<button class="clear-search">
					<svg viewBox="0 0 30 30" class="ico-close">
						<use xlink:href="#ico-close"></use>
					</svg>
				</button>
			</div>

			<div class="code">
				<pre class="prettyprint lang-html">&lt;svg viewBox="0 0 30 30" class="ico-fox"&gt;&#10;&#32;&#32;&lt;use xlink:href="#ico-fox"&gt;&lt;/use&gt;&#10;&lt;/svg&gt;</pre>
			</div>

			<div class="post">
				<p>This is the latest iteration of my icon set <span class="count"></span>, which have been used in numerous apps and websites I&rsquo;ve worked on.</p>

				<p>They&rsquo;re made primarily for web use and are free to use (not sell). You can drop the SVG code in the top of your webpages (inspect this page to grab them just inside the body), then you can call them using the code snippet.</p>

				<p>Alternatively, you can now install them using Bower, if that&rsquo;s your flavor. Instructions are <a href="https://github.com/shaunrfox/fox-icons">on the Github project</a>.</p>

				<p>I&rsquo;m adding new icons all the time, so check back periodically.</p>
			</div>
		</div>

		<div class="column project-images icons-column"></div>
	</div>
</section>
